<section class="hero-area">
    <div class="container" style="z-index: 1;">
        <div class="row">
            <div class="col-md-12">
                <div class="block">

                    <h1 class="wow fadeInUp"
                        data-wow-duration=".5s"
                        data-wow-delay=".3s">Munca și viața în Spania. <br> Construiește-ți un viitor. <br> Viitorul
                        tău.</h1>
                    <p class="wow fadeInUp"
                       data-wow-duration=".5s"
                       data-wow-delay=".5s">Te gândești la un viitor în Spania?
                        Îți dorești să muncești, să ai un loc de muncă stabil și un salariu decent? Vrei să locuiești
                        într-o cazare confortabilă? Ai ajuns unde trebuie!
                    </p>
                    <ul class="list-inline wow fadeInUp"
                        data-wow-duration=".5s"
                        data-wow-delay=".7s">
                        <li class="list-inline-item">
                            <a data-scroll
                               href="#services"
                               class="btn btn-main">Descopera-ne</a>
                        </li>
                        <li class="list-inline-item">
                            <a data-scroll
                               href="#team"
                               class="btn btn-transparent">Afla mai multe</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about"
         id="about">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center">
                <h2>Despre noi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa placeat voluptas tempore recusandae
                    quasi nesciunt in, facilis animi. Sint, possimus?</p>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <div class="col-md-6">
                <img src="../../../assets/about-us.jpg"
                     class="img-fluid"
                     alt="">
            </div>
            <div class="col-md-6">
                <p>HOBIJ este o agenție de recrutare internațională. Noi te ajutăm să-ți găsești un loc de muncă în
                    industria alimentară, logistică sau în domeniul tehnic. În plus, îți oferim o cazare decentă și te
                    ajutăm cu transportul de la cazare la locul de muncă.</p>
                <p>Pe scurt, dacă plănuiești să muncești și să locuiești în Spania, HOBIJ este agenția de care ai
                    nevoie!</p>
                <h4>Lorem ipsum dolor sit.</h4>
                <ul class="feature-list">
                    <li> <i class="tf-ion-android-checkmark-circle"></i> Web Development</li>
                    <li> <i class="tf-ion-android-checkmark-circle"></i> Application Development</li>
                    <li> <i class="tf-ion-android-checkmark-circle"></i> Website Design</li>
                    <li> <i class="tf-ion-android-checkmark-circle"></i> UI/UX Design</li>
                    <li> <i class="tf-ion-android-checkmark-circle"></i> SEO Service</li>
                </ul>
                <a href="#"
                   class="btn btn-main mt-20">Learn More</a>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->
<section class="blog"
         id="blog">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="col-12">
                <div class="title text-center ">
                    <h2> Latest <span class="color">Posts</span></h2>
                    <div class="border"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus, reprehenderit
                        libero
                        inventore nam.</p>
                </div>
            </div>
            <!-- /section title -->
            <!-- single blog post -->
            <article class="col-md-4 col-sm-6 col-xs-12 clearfix ">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img src="../../../assets/blog/post-1.jpg"
                             alt="amazing caves coverimage"
                             class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">Locuri de munca</a></h3>
                        <p>Găsește-ți un loc de muncă potrivit!</p>
                        <a class="btn btn-main"
                           href="single-post.html">Citeste mai mult</a>
                    </div>
                </div>
            </article>
            <!-- /single blog post -->

            <!-- single blog post -->
            <article class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img src="../../../assets/blog/post-2.jpg"
                             alt="amazing caves coverimage"
                             class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">Cazare</a></h3>
                        <p>Locuiește într-o casă confortabilă!</p>
                        <a class="btn btn-main"
                           href="single-post.html">Citeste mai mult</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->

            <!-- single blog post -->
            <article class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img src="../../../assets/blog/post-3.jpg"
                             alt="amazing caves coverimage"
                             class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="single-post.html">Stil de viață</a></h3>
                        <p>Bucură-te de stilul de viață spaniol!</p>
                        <a class="btn btn-main"
                           href="single-post.html">Citeste mai mult</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->
<!--
Start Call To Action
==================================== -->
<section class="call-to-action-2 section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Misiunea HOBIJ este crearea unui viitor care contează si noi chiar credem in ideea oamenilor
                    fericiți care creează o lume mai bună.</h2>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->
<!-- Start Services Section
		==================================== -->

<section class="services"
         id="services">
    <div class="container">
        <div class="row no-gutters">
            <!-- section title -->
            <div class="col-12">
                <div class="title text-center">
                    <h2>Our Services</h2>
                    <p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum
                        iaculis ex,
                        in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus
                        dignissim.</p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-copy-outline"></i>
                    </div>
                    <h3>WordPress Theme</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.
                        Nullam
                        iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-alarm-outline"></i>
                    </div>
                    <h3>Responsive Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.
                        Nullam
                        iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-book-outline"></i>
                    </div>
                    <h3>Media &amp; Advertisement</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.
                        Nullam
                        iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-briefcase-outline"></i>
                    </div>
                    <h3>Graphic Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.
                        Nullam
                        iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-crop"></i>
                    </div>
                    <h3>Apps Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.
                        Nullam
                        iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-home-outline"></i>
                    </div>
                    <h3>Networking</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.
                        Nullam
                        iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->
<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Hai sa lucram impreuna</h2>
                <p>HOBIJ încearcă să ofere cel mai bun proces de recrutare cu putință. Suntem o companie centrată pe
                    oameni.</p>
                <a href=""
                   class="btn btn-main">Contactează-ne azi!</a>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->
<!--Start Contact Us
	=========================================== -->
<section class="contact-us"
         id="contact">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="col-12">
                <div class="title text-center">
                    <h2>Aplică prin completarea formularului</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate facilis eveniet maiores ab
                        maxime nam ut numquam molestiae quaerat incidunt?</p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Contact Details -->
            <div class="contact-details col-md-6 ">
                <h3>Detalii Contact</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, vero, provident, eum eligendi
                    blanditiis ex explicabo vitae nostrum facilis asperiores dolorem illo officiis ratione vel fugiat
                    dicta laboriosam labore adipisci.</p>
                <ul class="contact-short-info">
                    <li>
                        <i class="tf-ion-ios-home"></i>
                        <span>Khaja Road, Bayzid, Chittagong, Bangladesh</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-phone-portrait"></i>
                        <span>Phone: +880-31-000-000</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-globe"></i>
                        <span>Fax: +880-31-000-000</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-mail"></i>
                        <span>Email: hello@meghna.com</span>
                    </li>
                </ul>
                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!--/. End Footer Social Links -->
            </div>
            <!-- / End Contact Details -->

            <!-- Contact Form -->
            <div class="contact-form col-md-6 ">
                <form id="contact-form"
                      method="post"
                      role="form">
                    <div class="mb-3">
                        <input type="text"
                               placeholder="Numele de familie"
                               class="form-control"
                               name="name"
                               id="name">
                    </div>

                    <div class="mb-3">
                        <input type="text"
                               placeholder="Prenumele"
                               class="form-control"
                               name="lastName"
                               id="lastName">
                    </div>

                    <div class="mb-3">
                        <input type="email"
                               placeholder="Email"
                               class="form-control"
                               name="email"
                               id="email">
                    </div>

                    <div class="mb-3">
                        <input type="text"
                               placeholder="Telefon"
                               class="form-control"
                               name="phone"
                               id="phone">
                    </div>

                    <div class="mb-3">
                        <textarea rows="6"
                                  placeholder="Ai întrebări și/ sau comentarii?"
                                  class="form-control"
                                  name="message"
                                  id="message"></textarea>
                    </div>

                    <div id="success"
                         class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>

                    <div id="error"
                         class="error">
                        Sorry, don't know what happened. Try later :(
                    </div>
                    <div id="cf-submit">
                        <input type="submit"
                               id="contact-submit"
                               class="btn btn-transparent"
                               value="Trimite">
                    </div>

                </form>
            </div>
            <!-- ./End Contact Form -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->

<!--================================
=            Google Map            =
=================================-->
<section class="map">
    <!-- Google Map -->
    <div id="map_canvas"></div>
</section>