
<footer id="footer" class="bg-one">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>Despre noi</h3>
            <p>Integer posuere erat a ante venenati dapibus posuere velit aliquet. Fusce dapibus, tellus cursus commodo, tortor mauris sed posuere.</p>
          </div>
          <!-- End of .col-sm-3 -->
   
          <div class="col-sm-3 col-md-3 col-lg-3">
            <ul>
              <li><h3>Serviciile noastre</h3></li>
              <li><a href="#"> Industria alimentara</a></li>
              <li><a href="#">Industria agricola</a></li>
              <li><a href="#">Fabrici</a></li>
              <li><a href="#">Tehnic</a></li>
              <li><a href="#">Logistica</a></li>
            </ul>
          </div>
          <!-- End of .col-sm-3 -->
   
          <div class="col-sm-3 col-md-3 col-lg-3">
            <ul>
              <li><h3>Link-uri utile</h3></li>
              <li><a href="#">Parteneri</a></li>
              <li><a href="#">Despre noi</a></li>
              <li><a href="#">Intrebari frecvente</a></li>
            </ul>
          </div>
          <!-- End of .col-sm-3 -->
   
          <div class="col-sm-3 col-md-3 col-lg-3">
            <ul>
              <li><h3>Stai conectat cu noi</h3></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
          <!-- End of .col-sm-3 -->
   
        </div>
      </div> <!-- end container -->
    </div>
    <!-- <div class="footer-bottom">
      <h5>Copyright 2022. All rights reserved.</h5> -->
      <!-- <h6>Design and Developed by <a href="">Themefisher</a></h6> -->
    <!-- </div> -->
   </footer> <!-- end footer -->